footer {
  position: fixed; // change later to normal behavior
  bottom: 0; // change later to normal behavior
  height: var(--footer-height);
  background-color: var(--color-background);
  display: inline-flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--color-foreground);

  .name {
    margin-left: 2rem;
  }

  .socials {
    margin-right: 2rem;
    transition: all 0.3s;

    span a {
      display: flex;
      color: var(--color-foreground);
    }

    svg {
      width: 24px;
      height: 24px;
      fill: var(--color-foreground);
      margin-left: 1rem;
    }

    &:hover svg {
      fill: var(--color-links);
    }
    &:hover span a {
      color: var(--color-links);
      text-decoration: none;
    }
  }
}
